@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
/* body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 10vmax;
  font-family: 'Creepster', cursive;
}
@media screen and (orientation:landscape){
    body::after{
        content: "Landscape";
    }
}
@media screen and (orientation:portrait){
    body::after{
        content: "portrait";
    }
} */
/* body {
    margin: var(--metric-box-spacing);
  }
h1{
    background-color: rgb(207, 22, 22);
    color: aliceblue;
    
}
h2{
    
    font-family: 'Creepster', cursive;
}


   
  @media (min-width: 50em) {
    article {
      column-count: 3;
    }
    h1{
        color: black;
        background-color: white;
    }
    h2{
        font-family: 'Courier New', Courier, monospace; 
    }
  } */
  p:nth-child(2) {
    writing-mode: vertical-rl;
  }
  
  p:nth-child(3) {
    writing-mode: vertical-lr;
    padding-block: 1em;
  }
  
  p {
    max-inline-size: 20ch;
  }
  
  article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  article > * {
    padding: 0.5em;
    border: 1px solid var(--color-stroke);
  }
  